<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/dominos.png">
    </a>
    <h1>Play Dominos Online</h1>
      <p>This is an application allowing two or more players to play Dominos online.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-go"><span class="glyphiconglyphicon-flash"></span> Start New Game</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/bezzy199991/Dominos"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to play</h3>
      <ul>
          <li>Click <a href="https://github.com/heroku/go-getting-started">'Start New Game'</a> 
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://github.com/bezzy199991/Dominos">Source to this page on github</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
